<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585865393058-5jkraarsqcb9m4d2ioa9am2pbr48511e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585865393058-5jkraarsqcb9m4d2ioa9am2pbr48511e</string>
	<key>API_KEY</key>
	<string>AIzaSyD7FSc7MLIq182Dpp4zy4l1nyRKy006tQM</string>
	<key>GCM_SENDER_ID</key>
	<string>585865393058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KadenDevMountain.TeamNightHawkGroupProject</string>
	<key>PROJECT_ID</key>
	<string>devmtngroupproject</string>
	<key>STORAGE_BUCKET</key>
	<string>devmtngroupproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585865393058:ios:b485c2898100bd35</string>
	<key>DATABASE_URL</key>
	<string>https://devmtngroupproject.firebaseio.com</string>
</dict>
</plist>